/* CSS Document */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.hr-twill-colorful {
    border: 0;
    padding: 3px;
    background: linear-gradient(135deg, red, orange,green, blue, purple);
    --mask-image: repeating-linear-gradient(135deg, #000 0px, #000 1px, transparent 1px, transparent 6px);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}

.title {
	font-family: Google Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	font-size: 200%;
	font-weight: 500;
	display: block;
	text-align: center;
	margin-top: 14px; /* h1 default */
	margin-bottom: 0px;
	padding-top: 40px;
	padding-bottom: 5px;
	line-height: 1.5em;
}

.author {
	font-size: 15pt;
	text-align: center;
	margin: 0pt 10pt;
	padding: 0 3em 0 3em;
}

.author a{
	border-bottom: solid 1px #ddd;
	color: inherit;
	text-decoration: none;
}


.affiliations{
	border-bottom: solid 1px #ddd;
	color: inherit;
	text-decoration: none;
	border: 0; 
	align: center;
}
.menu{
	width:80%;
	border: 0;
	margin-bottom: 8px;
	
}

.menu a{
	color: inherit;
	text-decoration: none;
	margin: 0pt 1%;
	padding: 0 1em 0 1em;
}

.container {
	width: 100%;
	/* min-height: 1200px; */
	max-height: 999999px; /* prevents font boosting */
	margin: 0 auto; /* top and bottom, right and left */
	/*  border: 1px solid #000; */
	text-align: left; /* top, right, bottom, left */
	color: #000;
	/* background: #fff; */
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}

.section{
	font-size: 140%;
	font-weight: 500;
	text-align: center;
}

.subsection{
	font-size: 120%;
	font-weight: 200;
	text-align: center;
}
.text{
	text-align: justify;
}

.image{
	text-align: center;
	margin: auto;
}

.image:hover {
	cursor: pointer;
	background-color: #f4f4f4;
	color: black;
}

figcaption{
	padding: 0.5em;
	color: rgba(255,20,147);
	font-size: 12px;
	line-height: 1.5em;
	text-align: inherit;
	padding-top: 0;
}

.bibtex{
	font-family: Google Sans, Courier, monospace;
	white-space: pre;
	display: block;
	background: #eee;
	white-space: pre;
	-webkit-overflow-scrolling: touch;
	max-width: 100%;
	min-width: 100px;
	border-radius: 0px;
                      
}

strong, b {
    font-weight: 500;
}

body {
	font-family: Google Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	/* background-color: #fff; */
	background-color: white;
	line-height: 1.5em;
}

/* .accordion-button:not(.collapsed) {
	color: black  !important;
	background-color: white !important;
}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active  {
	background-color: #fff !important;
	color:#000 !important;
	text-decoration: none !important;
	border: hidden !important;
	border-color: #FFF !important;
	box-shadow: 0px !important;

	
} */

/* .accordion-button.collapsed::after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    background-color: white;  
} */

/* .accordion-button:focus {
	z-index: 3;
	border-color: #FFF !important;
	outline: 0;
	box-shadow: 0 0 0 .25rem #FFF !important;
	} */

.content {
	padding: 0 18px;
	overflow: hidden;
}

table.menu {
	font-size: 13pt;
	font-weight: 500;
}




sup {
    font-size: 0.7em;
    position: relative;
    top: 0em;
    vertical-align: super;
    font-size: smaller;
}




table.affiliations {
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    margin-bottom: .5em;
    width: 100%;
    max-width: 80%;
}





.highlight {
	color: blue;
}



code {
	font-family: Consolas,"courier new";
	color: crimson;
	background-color: #f1f1f1;
	padding: 2px;
	font-size: 105%;
	}

